<div class="flex items-center justify-between container mx-auto p-4">
  <div class="font-monte font-bold text-blue-500">
    <a class="text-xl md:text-4xl m-2" routerLink="">
      Hotel<span class="text-black">Reservation</span>.
    </a>
  </div>
  <div class="hidden text-xl md:flex gap-2">
    <a
      class="hover:bg-gray-100 rounded-md transition-all duration-150 px-2 text-gray-600"
      routerLink="AddRoom"
      routerLinkActive="text-orange-800 underline"
      >Add Room</a
    >
    <a
      class="hover:bg-gray-100 rounded-md transition-all duration-150 px-2 text-gray-600"
      routerLink="Reservations"
      routerLinkActive="text-orange-800 underline"
      >Reservations</a
    >
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
</div>
